/* checkbox */

.modal-form__checkbox-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-form__checkbox-input {
    appearance: none;
    outline: none;
}

.modal-form__checkbox-label {
    margin: 0 4px 0 9px;

    color: $primary-text-color;
    line-height: 1.71;
}

.modal-form__contract-link {
    color: $accent-color;

    border-bottom: 1px solid $accent-color;
    text-decoration: none;
}

.modal-form__checkbox-icon {
    display: block;
    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid $title-text-color;

    transition: border-color $time-animation $timing-function,
        background-color $time-animation $timing-function;
}

.modal-form__checkbox-input:checked:focus+.modal-form__checkbox-icon {
    border-color: transparent;
    background-color: $accent-color;
}