/* workers-social */

.workers-social {
    display: flex;

    &__item {
        margin-right: 10px;
    }
    
    &__item:nth-child(4n) {
        margin-right: 0;
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
    
        color: $background-color-icon;
    
        background-color: $primary-white-color;
        border-radius: 50%;
    
        transition: background-color $time-animation $timing-function,
            color $time-animation $timing-function;
    }
    
    &__icon {
        fill: currentColor;
    }
    
    &__link:hover {
        color: $primary-white-color;
    
        background-color: $accent-color;
    }
}