/* adress-nav */

.adress-nav {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1200px) {
        display: -webkit-box;
        
    }
}

.adress-nav__icon {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        &-mail {
            width: 14px;
            height: 10px;
        }

        &-tel {
            width: 10px;
            height: 14px;
        }
    }

    @media screen and (min-width: 1200px) {
        &-mail {
            width: 16px;
            height: 12px;
        }

        &-tel {
            width: 10px;
            height: 16px;
        }
    }
}

.adress-nav__link {
    display: flex;

    align-items: center;

    color: $primary-text-color;
    transition: color $time-animation $timing-function;

    @media screen and (max-width: 767px) {
        &--large {
            color: $accent-color;
        }
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.adress-nav__tel {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;

        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    }
}

.adress-nav__mail {
    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}