/* footer-form */

.footer-form {
    display: flex;

    &__field {
        display: flex;
    }
    
    &__field input {
        margin-right: 12px;
        padding: 15px 16px;
        width: 358px;
        height: 50px;
    
        color: $adress-footer;
    
        background-color: $secondary-background-color;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    
        transition: border $time-animation $timing-function,
            box-shadow $time-animation $timing-function;
    }
    
    &__field input::placeholder {
        color: $adress-footer;
        line-height: 1.25;
    }
    
    &__input:focus {
        border: 1px solid $accent-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        outline: none;
    }
    
    &__icon {
        margin-left: 10px;
    }

    &__btn {
        @extend %btn;
    }
}