// menu-block

.menu-block {
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        height: 100vh;
        width: 100%;
        padding: 48px 40px;
        background-color: $primary-white-color;
        z-index: 1;
        overflow-y: scroll;

        &--is-open {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.menu-block__social {
    display: inline-block;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &-item {
        display: inline-block;
        padding-right: 10px;
    
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
    
        &:not(:first-child) {
            padding-left: 10px;
    
            border-left: 1px solid rgba(33, 33, 33, 0.2);
        }
    }
    
    &-link {
        color: $accent-color;
    }
}