/* page-header */

.page-header {
    border-bottom: 1px solid $header-border-color;

    &__container {
        position: relative;
    }
}

.page-header__nav {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.nav__btn {
    display: inline-flex;
    margin: 0;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    transition: fill $time-animation $timing-function;

    &--is-open {
        position: fixed;
        top: 0;
        right: 15px;
    }

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__btn .nav__btn-close {
    display: none;
}

.nav__btn--is-open .nav__btn-close {
    display: block;
}

.nav__btn--is-open .nav__btn-menu {
    display: none;
}