/* animation link */

.examples-card__link {
    display: inline-block;

    text-decoration: none;

    transition: box-shadow $time-animation $timing-function;

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

/* example-card */

.examples-card__wrapper {
    padding: 20px 24px;

    border: 1px solid $cards-border-color;

    &-title {
        margin-bottom: 4px;

        color: $title-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        background-color: $primary-white-color;
    }

    &-text {
        color: $primary-text-color;
        font-size: 16px;
        line-height: 1.9;
    }
}